Nama : Ferli Malkan Amien <br>
NPM  : 2117051050 <br>
Kelas: C <br>
Link : https://colab.research.google.com/drive/1JSQLc1zshB1R_7QhpnCSroonYzMybYsI?usp=sharing

# Pertemuan 3

## Library

In [ ]:
import numpy  as np
import pandas as pd
import scipy
from scipy.spatial.distance import cityblock, mahalanobis
from scipy.stats import chi2

## Dataset

In [ ]:
# dataset pertama untuk perhitungan manhattan distance dan euclidean distance
P1 = np.array((4, 1))
P2 = np.array((1, 3))

# dataset kedua untuk perhitungan mahalanobis distance
X = np.array([[7.0, 165, 5], [7.4, 160, 5], [7.1, 170, 4], [7.3, 150, 5], [7.2, 160, 3]])

In [ ]:
# info dataset
print(X.shape)
print(X.ndim)
print(X)

(5, 3)
2
[[  7.  165.    5. ]
 [  7.4 160.    5. ]
 [  7.1 170.    4. ]
 [  7.3 150.    5. ]
 [  7.2 160.    3. ]]

## Calculate Distance

### Manhattan Distance

In [ ]:
mht_dist = cityblock(P1, P2)
print(mht_dist)

5

### Euclidean Distance

In [ ]:
# hitung selisih antara dua vectors
temp = P1 - P2

# gunakan formula euclidean
euclid_dist = np.sqrt(np.dot(temp.T, temp))
print(np.dot(temp.T, temp))
print(euclid_dist)

13
3.605551275463989

### Mahalanobis Distance

In [ ]:
# Hitung kovarians dan inverse kovarians dari dataaset
cov = np.cov(X.T)
inv_cov = np.linalg.inv(cov)

# Dua data baru dalam dataset
x1 = np.array([7.1, 145, 3])
x2 = np.array([6.0, 100, 5])

# Hitung jarak Mahalanobis antara dua titik
mhlnbs_dist = mahalanobis(x1, x2, inv_cov)
print(mhlnbs_dist)

15.370699331286659

# Tugas

In [ ]:
df = pd.DataFrame(
    {
        "Diameter (f1)" : pd.Series([7.0, 7.4, 7.1, 7.3, 7.2, 7.1, 6.0]),
        "Berat (f2)" : pd.Series([165, 160, 170, 150, 160, 145, 100]),
        "Tingkat Kemerahan (f3)" : pd.Series([5, 5, 4, 5, 3, 3, 5])
    }
)

In [ ]:
df

   Diameter (f1)  Berat (f2)  Tingkat Kemerahan (f3)
0            7.0         165                       5
1            7.4         160                       5
2            7.1         170                       4
3            7.3         150                       5
4            7.2         160                       3
5            7.1         145                       3
6            6.0         100                       5

In [ ]:
def mahalanobis(x = None, data = None, cov = None):
  x_mu = x - np.mean(data)
  if not cov:
    cov = np.cov(data.values.T)
  inv_covmat = np.linalg.inv(cov)
  left = np.dot(x_mu, inv_covmat)
  mahala = np.dot(left, x_mu.T)
  return mahala.diagonal()

df["Mahalanobis"] = mahalanobis(x = df, data = df[["Diameter (f1)", "Berat (f2)", "Tingkat Kemerahan (f3)"]])

df["p"] = 1 - chi2.cdf(df["Mahalanobis"], 3)

In [ ]:
df

   Diameter (f1)  Berat (f2)  Tingkat Kemerahan (f3)  Mahalanobis         p
0            7.0         165                       5     2.444376  0.485428
1            7.4         160                       5     1.940472  0.584853
2            7.1         170                       4     1.999789  0.572450
3            7.3         150                       5     2.301735  0.512189
4            7.2         160                       3     1.845689  0.605043
5            7.1         145                       3     2.483532  0.478275
6            6.0         100                       5     4.984406  0.172943