Nama  : Ferli Malkan Amien <br>
NPM   : 2117051050 <br>
Kelas : C

# Pertemuan 1
*    Pemrograman Dasar di Python

## Variable

Deklarasi nilai ke dalam vareiabel

In [1]:
# Input "8" ke dalam variabel A
A = 8
print(A)
print("Output: ", A)

8
Output:  8

In [2]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [3]:
# input nilai sebagai list
nilai = [70, 80, 90, 100, 85]
# nilai
print(nilai)

[70, 80, 90, 100, 85]

In [4]:
data = [80, "A", "Joni"]
print(data)

[80, 'A', 'Joni']

## Conditional
Mengeksekusi nilai berdasarkan kondisi

In [5]:
if 7 == A:
  print("Nilai 7 sama dengan nilai A yang mana adalah", A)
else:
  print("Nilai 7 tidak sama dengan nilai A yang mana adalah", A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [6]:
# mengecek nilai didalam list
if 70 in nilai:
  print("ada nilai 70 didalam list")
else:
  print("tidak ada didalam list")

ada nilai 70 didalam list

## Looping
Mengeksekusi nilai berdasarkan perulangan

In [7]:
# mencetak perkalian angka 2 dengan angka 0 sampai 1q0
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

## Function

### User Define Fuction
Mendeklarasikan fungsi yang dibuat sendiri dengan awalan def nama_fungsi(parameter): isi fungsi

In [8]:
# fungsi yang mencetak suatu nilai
def cetak_a():
  print("A")

# panggil fungsi cetak_a
cetak_a()

A

In [9]:
# fungsi yang mengembalikan suatu niai dari suatu masukan
def cetak_pangkat_dua(x):
  x = x**2
  return x

# panggil fungsi cetak_pangkat_dua dengan inputan tertentu
cetak_pangkat_dua(4)
print(cetak_pangkat_dua(4))

16

### Buit-in Function
Memanggil fungsi bawaan dari Python

In [10]:
# nilai = [70, 80, 90, 100, 85]
# memanggil fungsi len untuk mencetak jumalh item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

# untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
Sekumpulan kode yang memiliki fungsi-fungsi tertentu dan dapat dipanggil ke dalam program lain

In [11]:
# deklarasi libarary dengan fungsi yang ada di dalamnya
import numpy as np

# inisiasi vector dan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value = 10

# operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [12]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns = ["nilai"])
df #dataframe

   nilai
0     70
1     80
2     90
3    100
4     85

# Tugas Responsi 1 - Machine Learning

In [13]:
import numpy as np
import pandas as pd

## Nomor 1

In [14]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [2, 4, 6, 8, 10]

vector_1 = np.array(list_1)
vector_2 = np.array(list_2)

print(vector_1 * vector_2)

[ 2  8 18 32 50]

## Nomor 2

In [15]:
Mahasiswa = ['Andi', 'Budi', 'Caca', 'Didi']
Nilai = [7, 6, 10, 8]

keterangan = ["lulus" if nilai >= 7 else "belum lulus" for nilai in Nilai]

df = pd.DataFrame({'mahasiswa': Mahasiswa, 'nilai': Nilai, 'keterangan': keterangan})
df

  mahasiswa  nilai   keterangan
0      Andi      7        lulus
1      Budi      6  belum lulus
2      Caca     10        lulus
3      Didi      8        lulus

## Nomor 3

In [16]:
# Persentase lulus

lulus = df['keterangan'].value_counts()["lulus"]
persentase = (lulus / len(df['keterangan'])) * 100
print('{:.1f}%'.format(persentase))

75.0%