Nama : Ferli Malkan Amien <br>
NPM  : 2117051050 <br>
Kelas: C <br>
Link : https://colab.research.google.com/drive/1xiPE2FoChovhTpfWNB1Z1eXmQxhIBN31?usp=sharing

# **Pertemuan 10**
Naive Bayes

## Library

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

## Load Data

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/rahmantaufik27/dataset/main/study/weather_nb_dataset.csv")
df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

## Preprocessing

In [3]:
# pisahkan data target
X_train = df.drop('Play', axis='columns')
y_train = df['Play']

*   Kita ubah nilai outlook, temp, humidity, windy ke integer
*   hal ini ditujukan untuk mneyesuaikan nilai inputan modeling naive bayes yang ada di library python

In [4]:
# buat dataframe baru dengan encoding data
numerics = LabelEncoder()
X_train['outlook_n'] = numerics.fit_transform(X_train['Outlook'])
X_train['Temp_n'] = numerics.fit_transform(X_train['Temp'])
X_train['Humidity_n'] = numerics.fit_transform(X_train['Humidity'])
X_train['windy_n'] = numerics.fit_transform(X_train['Windy'])
X_train = X_train.drop(['Outlook', 'Temp', 'Humidity', 'Windy'], axis='columns')
X_train

    outlook_n  Temp_n  Humidity_n  windy_n
0           1       1           0        0
1           1       1           0        1
2           0       1           0        0
3           2       2           0        0
4           2       0           1        0
5           2       0           1        1
6           0       0           1        1
7           1       2           0        0
8           1       0           1        0
9           2       2           1        0
10          1       2           1        1
11          0       2           0        1
12          0       1           1        0
13          2       2           0        1

\* bisa jadi hasil dari dataframe baru berdasarkan encoding data tidak sesuai contoh diatas, hal itu tidak masalah karena proses encoding disini random

## Modeling

In [5]:
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

## Evaluation

In [6]:
nb.score(X_train, y_train)

0.8571428571428571

## Tugas
Buat prediksi apakah hari ini bermain golf atau tidak jika diketahui kondisi hari ini adalah Outlook = Sunny, Temperature = Hot, Humidity = Normal, dan Windy = False)

In [7]:
kondisi = [[2, 1, 1, 0]]  # Outlook=Sunny, Temperature=Hot, Humidity=Normal, Windy=False
probabilitas = nb.predict_proba(kondisi)

print(f"Probabilitas tidak bermain golf / bermain golf:[[{probabilitas[0][0]} {probabilitas[0][1]}]]" )

prediksi = nb.predict(kondisi)
print("Maka kesimpulannya adalah", prediksi)

Probabilitas tidak bermain golf / bermain golf:[[0.12487421892391505 0.8751257810760849]]
Maka kesimpulannya adalah ['yes']

C:\Users\ferli\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
C:\Users\ferli\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(